<head>
  <link rel="stylesheet" href="/telas-angular/src/styles.css">
</head>
<div class="fundo-conteudo">
  <div class="flex-container">

    <!-- Bloco 1 -->

				<div class="item1">
					<div class="conteudoItem1">
							<form action="">
								<label class="lblCicloFrntEstrategica" for="">Ciclo</label>
								<label class="tituloFrntEstrategica" for="busca-ciclo">Busca</label>

								<select class="slcBuscaFrnt" name="" id="">
									<option value="MB2 (FY23)">MB2 (FY23)</option>
								</select>
								<div class="buscaFlexFrnt">
									<input type="search" name="busca-ciclo" id="busca-ciclo" placeholder=" Buscar" class="form-control">
									<input type="submit" name="busca-ciclo" id="btnClickCiclo" value="&#128269; Buscar">
								</div>
							</form>
							<table class="table">
								<thead>
								<tr>
									<th scope="col">Nome <i style="font-size:18px" class="fa">&#xf0dc;</i></th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
                <tr>
								<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								<tr>
									<td>[FOOD TEST]</td>
								</tr>
								</tbody>
							</table>

							<div class="pagination">
							<label for="" id="pageText">1 of 1</label>
							<a href="#">&laquo;</a>
							<a href="#" class="active" >1</a>
							<a href="#">&raquo;</a>
							</div>
						</div>

					</div>
				<!-- Bloco 2 -->

				<div class="item2">
					<form action="">

						<label class="titulo" for="">Frentes Estratégicas</label>
						<div class="Linha1FrntEstrategica">
							<select class="form-select slcFrntEstrategica" aria-label="Default select example">
								<option selected>BU</option>
							  </select>
							<input type="text" name="" id="busca-frntEstrategica" placeholder=" Nome" class="form-control">
						</div>
						<div class="Linha2FrntEstrategica">
							<select class="form-select slcFrntEstrategica" aria-label="Default select example">
								<option selected>Ciclo</option>
							  </select>
							<input type="text" name="" id="busca-frntEstrategica" placeholder=" Nome" class="form-control">
						</div>
						<div class="btnCiclo">
							<button type="button" id="btnNew"><i style="font: size 20px" class="fa">&#128193;</i> Novo</button>
							<button type="button" id="btnSave"><i style="font: size 15px" class="fa">&#128190;</i> Salvar</button>
						</div>
				</form>
        </div>

      </div>
</div>
