.sidenav {
    background-color: white;
    width: 300px;
}

.sidenav i {
    color: black;
}

mat-list-item {
    color: black;
}

a:hover {
    background-color: lightgray;
}

span {
    color: black;
}
