a {
  display: block;
  font-weight: 600;
text-decoration: none;
padding: 2px 5px;
padding-left: 20px;
color: black;
}

li a:hover{
background-color: #DDDDDD;
}

a:hover {
text-decoration: none;
}
ul, li {
list-style: none;
line-height: 2;
}
