<head>
  <link rel="stylesheet" href="/telas-angular/src/styles.css">
</head>
<div class="fundo-conteudo">
    <div class="flex-container">

      <!-- Bloco 1 -->
      <div class="item1">
        <form action="">
          <label class="titulo" for="busca-ciclo">Busca</label>
          <input type="search" name="busca-ciclo" id="busca-ciclo" placeholder=" Buscar" class="form-control">
              <input type="submit" name="busca-ciclo" id="btnClickCiclo" value="&#128269; Buscar">
        </form>
        <table class="table">
          <thead>
            <tr>
            <th scope="col">Nome <i style="font-size:18px" class="fa">&#xf0dc;</i></th>
            </tr>
            <tr>
            <td>CROSS</td>
            </tr>
            <tr>
            <td>ECONÔMICO</td>
            </tr>
            <tr>
            <td>FINTECH</td>
            </tr>
            <tr>
            <td>FOOD DELIVERY</td>
            </tr>
            <tr>
            <td>MERCADO</td>
            </tr>
            <tr>
            <td>OKRs</td>
            </tr>
          </thead>
          <tbody>

          </tbody>
          </table>

        <div class="pagination">
          <label for="" id="pageText">1 of 1</label>
          <a href="#">&laquo;</a>
          <a href="#" class="active" >1</a>
          <a href="#">&raquo;</a>
        </div>
      </div>

      <!-- Bloco 2 -->

      <div class="item2">
        <div action="">
          <label class="titulo" for="">Unidade de Negócio</label>
          <input type="text" name="" id="busca-undNegocio" placeholder=" Nome" class="form-control">

          <div class="btnCiclo">
            <button type="button" id="btnNew"><i style="font: size 20px" class="fa">&#128193;</i> Novo</button>
            <button type="button" id="btnSave"><i style="font: size 15px" class="fa">&#128190;</i> Salvar</button>
          </div>
        </div>


    </div>
</div>
