.ciclos .title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.container {
    display: inline;
    grid-gap: 30px;

}

.cicloForm{
    margin-top: 10px;
}


.containerLine{
    display: flex;
}

.item{
    padding: 10px;

}

.bloco1 {
    width: 45%;
    float: left;
}
.bloco2 {
    width: 55%;
    float: left;
}

.lineItem1 {
    float: left;
    margin-right: 7px;
    width: 64%;
}
.lineItem2 {
    float: left;
    width: 35%;
}

.noLabel {
    margin-top: 22px;
}

.mat-mdc-form-field
{
    display: inline;
}

.line2Item1 {
    float: left;
    margin-right: 7px;
    width: 50%;
}

.line2Item2 {
    float: left;
    width: 50%;
}

.buttons {
    float: right;
    margin-bottom: 10px;
}
